---
interface Props {
    color: string;
}

const { color } = Astro.props;
---
<>
    <span
        style={`display:inline-block;width:0.7em;height:0.7em;border-radius:50%;background:${color};vertical-align:middle;margin:0 0.15em`}
        aria-hidden="true"
    ></span>
</>