name: Build documentation

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install node_modules/
        run: docker compose run --rm npm ci

      - name: Build documentation
        run: docker compose run --rm npm build